.wrapper {
    height: 100vh;
    background-size: cover;
    background-image: url("../../assets/bg1.jpeg");
  }
  
  .form {
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: rem(900px);
    max-width: rem(450px);
    padding-top: rem(80px);
    max-width: 700px;
    height: 100vh;
  
    @media (max-width: 600px) {
      max-width: 100%;
    }
  }
  
  .title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(62px);
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
    @media (max-width: 600px) {
      font-size: rem(42px);
      line-height: 1.2;
    }
  }